@import 'grid-960'

$very_light_gray: #F3F3F3
$light_gray: #D2D2D2
$med_gray: gray
$dark_gray: #323232

$CP_PINK: #FF0080
$CP_BLUE: #0678BE



// Temp
li, ul
  margin: 0
  padding: 0
li
  list-style: none

ul.tags
  li
    background: gray
    color: white
    display: inline-block
    padding: 3px
    font-size: 0.9em
  

body.listings--index

  // INDEX

  #find_exhort, #list_exhort
    margin-bottom: 30px
    font-weight: bold
    font-size: 1.1em    

  #find_listing_button, #go_search_address
    font-size: 0.9em 
    padding: 0.3em 0.5em 1.4em 0.5em
    position: relative
    top: 0.5em


  #left_column
    width: 600px
    float: left
    
    #list_exhort
      a
        text-decoration: underline
      a:hover
        text-decoration: none
  
    #map_canvas
      height: 550px
      width: 100%
      margin: 0 0 20px 0
      background: $very_light_gray

    ul#listings
      padding: 0
      margin: 0
      font-size: 13px
      .label
        color: $CP_BLUE
      // The listing item container
      > li
        display: inline-block
        width: 270px
        margin: 0
        padding: 10px
        list-style: none
        border-bottom: solid 1px $light_gray
        background: $very_light_gray
        height: 500px
        &.listing_spacer
          padding: 0
          margin: 0
          width: 0px
          height: 0
          background: red
        img
          height: 150px
          width: 270px
        li
          border-bottom: solid 1px #fff
          padding-top: 6px
          padding-bottom: 7px
        p.caption
          font-weight: bold
          color: $CP_BLUE
          margin-bottom: 10px 
  
  #right_column
    width: 340px
    float: right
    
    #find_exhort
      margin-bottom: 23px
  
    #listing_id
      width: 90px
    
    #search 
      postion: relative
      top: -28px
      border-top: solid 1px $very_light_gray
      
      h2
        font-weight: bold
        font-size: 1.1em
        margin-bottom: 5px
      
      // Checkboxes group title
      .group_title
        font-weight: bold
        margin: 30px 0 15px 0
    
    #no_results
      height: 14px
      font-size: 12px
      color: red
      
    #search_address
      margin-top: 5px
      width: 240px
      
    #sale_or_rent
      margin-top: 25px
    
    #reset
      margin-top: 60px


body.listings--
  &new, &edit, &create
    
    .error_messages, #map_instructions
      +grid(11)
      +alpha
      +omega
      +suffix(5)
  
    #map_instructions
      li
        margin-bottom: 0.5em
        list-style: decimal

    #map_container
      +clearfix

    #map_canvas
      +grid(11)
      +alpha
      height: 550px
      background: $very_light_gray

    #search_fields
      +grid(5)
      +omega
      
      // #listing_address autocomplete results width is being set via jquery.

      #address, #position
        button
          float: right
  
      #listing_address
        height: 100px
        resize: none
    
      #listing_save_address
        margin-bottom: 30px
    
      .error_container
        margin-top: 5px
        height: 1.5em
        .error
          color: red
          margin: 0
          padding: 0
          
    #everything_else
      +grid(11)
      +alpha

    #listing_contains
      +clearfix
      margin-bottom: 2em

    #residence_values
      +grid(3)
      +alpha
    #land_values
      +grid(8)
      +alpha
      +omega
    #listing_includes_land_values
      margin-bottom: 1em
    #residence_fields, #land_fields
      label
        +grid(3)
        +alpha
    #listing_residence_type, #listing_residence_construction, #listing_residence_area, #listing_land_area
      width: 150px
    #listing_residence_type, #listing_residence_construction
      margin-bottom: 0.7em

    label[for='listing_description']
      margin-top: 2em
    
    #rental_rates label, 
    label[for='listing_selling_price'], 
    label[for='listing_available_on_1i']
      +grid(3)
      +alpha

    #rental_rates input, 
    #listing_selling_price, 
      width: 120px

    #listing_rent_per_month_biannual_contract
      margin-bottom: 2em

    #listing_anonymous
      margin-bottom: 1.5em
    #contact_fields 
      #listing_contact_phone,
      #listing_contact_email
        width: 200px
      #listing_contact_name
        width: 300px
      label[for='listing_contact_name'],
      label[for='listing_contact_email'],
      label[for='listing_contact_phone']
        +grid(2)
        +alpha
      label[for='listing_contact_note']
        +grid(10)
        +alpha
      label[for='listing_contact_note']
        margin-top: 2em
      #listing_contact_note
        height: 200px
