@import 'grid-960'

$font-color: #3B3B3B
$light-color: silver

$very_light_gray: #F3F3F3
$light_gray: #D2D2D2
$med_gray: gray
$dark_gray: #323232

$very_light_yellow: #FAFFEE
$light_yellow: #FFF9D6
$dark_blue: #003499
$very_light_pink: #FEE5F4
$very_light_blue: #F0F3FD
$light_blue: #14BBEA
$pink: #FF0080
$gold: #FBAC0C
$ocean_blue: #4F6BAE
$land_green: #A5C888

$light_orange: #FFE684
$very_light_orange: #FFF6CD
$dark_orange: #D4C06E
$light_green: #CEF19A
$dark_green: #A5C17C

$error_red: red

$grid_width: 960px


// Sticky footer
// http://ryanfait.com/sticky-footer/

html, body
  margin: 0
  height: 100%
.wrapper
  margin: 0
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -142px
footer, .push_footer
  margin: 0
  height: 142px

//


body 
  +body

header
  border-top: solid 5px $ocean_blue
  background: $very_light_gray
  height: 62px
  margin: 0 0 20px 0

footer
  background: $very_light_gray
  #inner_footer
    text-align: center
    padding-top: 20px

.grid_content
  +grid-container

a, a:visited
  text-decoration: none
  color: $pink

a:hover
  background: $gold



#login 
  float: right
  margin-top: 15px
  ul 
    list-style: none
    li 
      display: inline
      margin-right: 15px


#logo
  float: left
  // Stub for pretty font
  font-size: 30px
  a span.c
    color: $ocean_blue
  a span.p
    color: $pink
  a:hover
    background: none
  h1
    margin-top: 0
    font-size: 13px
    font-weight: bold
    font-family: georgia
    


sidebar  
  float: left
  width: 280px
  margin: 0px
  padding: 30px 0px 0px 0px




input[type='text'], input[type='submit'], select
  height: 22px

.disabled
  color: $light_gray

#flash 
  width: $grid_width - (10px + 1px) * 2
  padding: 10px
  font-weight: bold
  margin-bottom: 20px
  &.notice 
    background: $light_green
    border: solid 1px $dark_green
  &.alert 
    background: $light_orange
    border: solid 1px $dark_orange
    margin-bottom: 8px 


////  ERROR HANDLING ////

.error
  color: $error_red

.error_messages
  border-bottom: solid 2px red
  margin-bottom: 40px
  color: red
  h3
    border-bottom: solid 2px red
    margin: 0
    padding: 0
  p
    font-weight: bold
  ul
    position: relative
    left: 20px
    margin-bottom: 15px
  li
    list-style: disc
    margin-bottom: 0.3em
    


