$font-color: #3B3B3B;
$light-color: silver;

$very_light_gray: #F3F3F3;
$light_gray: #D2D2D2;
$med_gray: gray;
$dark_gray: #323232;

$very_light_yellow: #FAFFEE;
$light_yellow: #FFF9D6;
$dark_blue: #003499;
$very_light_pink: #FFEFF5;
$very_light_blue: #F0F3FD;

$light_orange: #FFE684;
$very_light_orange: #FFF6CD;
$dark_orange: #D4C06E;
$light_green: #CEF19A;
$dark_green: #A5C17C;



body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: $font-color;
}


a { 
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}


#wrapper {
  width: 980px;
  margin: 0 auto;
  padding: 0;
}

header {
  background: $very_light_gray;
  border-bottom: solid 2px darken($very_light_gray, 10%);
  margin-bottom: 20px;
}

content {
  float: right;
  width: 580px;
  margin-top: 30px;
  padding: 0px 0px 0px 40px;
}


sidebar { 
  float: left;
  width: 280px;
  margin: 0px;
  padding: 30px 0px 0px 0px;
}

#flash {
  font-weight: bold;
  margin-bottom: 20px;
  > div {
    padding: 15px;
    border: solid 1px silver;
    margin-bottom: 8px;
  }
  .notice {
    background: $light_green;
    border: solid 1px $dark_green;
  }
  .alert {
    background: $light_orange;
    border: solid 1px $dark_orange;
  }
  p {
    margin-bottom: 0;
  }
}
