$LEFT_INDENT: 40px;
$ADJACENT_LABEL_WIDTH: 50px;
$INSTRUCTION_COLOR: #796D6F;

.simple_form {
    
  input.string {
    margin-bottom: 15px;
  }
  
  abbr[title='required'] {
    border-bottom: none;
    color: red;
    font-family: arial;
    margin-left: -0.7em;
    position: relative;
    top: 0.2em;
  }

  fieldset {
    border-top: solid 1px silver;
    padding-top: 10px;
    margin-top: 10px;
  }

  legend {
    padding: 5px;
    font-weight: bold;
    font-size: 0.95em;
    margin-left: $LEFT_INDENT; 
  } 
  
  div.input {
    // margin-left: $LEFT_INDENT;
    margin-bottom: 10px;
  }

  label {
    float: left;
    width: 200px;
    font-weight: bold;
  }
  
  label.boolean {
    font-weight: normal;
  }
   
  textarea, input.string {
    width: 98%;
  }

  .error {
    clear:   left;
    color:   black;
    display: block;
    margin-left: 120px;
    font-size:    12px;
  }
  
  .instruction {
    margin-left: $LEFT_INDENT;
    margin-bottom: 20px;
    color: $INSTRUCTION_COLOR;
    display: block;
    font-size: 0.95em;
    font-family: times;
    p {
      margin: 0;
      margin-bottom: 0.4em;
    }
  }

  .input .hint {
    clear: left;
    font-size: 0.95em;
    padding-top: 7px;
    padding-bottom: 7px;
    color: $INSTRUCTION_COLOR;
    display: block;
    font-family: times;
  }

  div.boolean {
    maring-left: 10px;
  }

  input[type='submit'] {
    margin-left: 120px;
  }


  // Typography
  
  h3 {
    margin-top: 60px;
  }

  h4 {
    margin-left: $LEFT_INDENT;
  }

}





div.boolean label, label.collection_radio {
  float: none;
  margin: 0;
}

label.collection_radio {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left:   2px;
}

.field_with_errors {
  background-color: #ff3333;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left:   2px;
}
